{% extends 'base.html.twig' %}

{% block title %}Borrowings index{% endblock %}

{% block body %}
    <h1>Borrowings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BorrowDate</th>
                <th>DueDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrowing in borrowings %}
            <tr>
                <td>{{ borrowing.id }}</td>
                <td>{{ borrowing.borrowDate ? borrowing.borrowDate|date('Y-m-d') : '' }}</td>
                <td>{{ borrowing.dueDate ? borrowing.dueDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_borrowings_show', {'id': borrowing.id}) }}">show</a>
                    <a href="{{ path('app_borrowings_edit', {'id': borrowing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_borrowings_new') }}">Create new</a>
{% endblock %}
