{% extends 'base.html.twig' %}

{% block title %}BookReviews index{% endblock %}

{% block body %}
    <h1>BookReviews index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book_review in book_reviews %}
            <tr>
                <td>{{ book_review.id }}</td>
                <td>{{ book_review.rating }}</td>
                <td>{{ book_review.comment }}</td>
                <td>{{ book_review.createdAt ? book_review.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_book_reviews_show', {'id': book_review.id}) }}">show</a>
                    <a href="{{ path('app_book_reviews_edit', {'id': book_review.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_reviews_new') }}">Create new</a>
{% endblock %}
